/* locnv responsive  */
#js-meganav{
    display:block;
}

@media (max-width:680px) {
    #js-megamenu-button{
    border-right: 1px solid #222222;
    color: #CCCCCC;
    display: block !important;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0px;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    z-index: 4;
    }
    
    ul.level0{
        float:none;
    }
    
    ul.level0 li.mega{
        float:none;
    }
    
    ul.level0 li.mega a.mega{
        padding:10px 10px;
    }
	ul.level1 li.mega a.mega{
        padding-left:20px;
    }
	ul.level2 li.mega a.mega{
        padding-left:30px;
    }
	ul.level3 li.mega a.mega{
        padding-left:40px;
    }
	
	ul.level1 li.haschild-over.first a.first,ul.level1 li.haschild.first a.first{
	    border-top:1px dotted #006699;
	}
	
	ul.level2 li.haschild-over.first a.first,ul.level2 li.haschild.first a.first{
	    border-top:1px dotted #006699;
	}
    
    .js-megamenu li.mega .childcontent {
       /* display: block !important;
        height: 100% !important;
        position: relative;
		overflow:visible !important;*/
        width: 100% !important;
		margin: 0 !important;
   }
   
   /*.childcontent-inner-wrap{
       margin:0px !important;
	  
   }*/
   
   .childcontent-inner-wrap,
   .childcontent-inner,.megacol{
       width:100% !important;
   }
   
   ul.megamenu{
       margin: 0px !important;
   }
   
   .megacol,.childcontent-inner{
       border:none !important;
   }
   
   ul.level1 li.over, ul.level1 li.haschild-over{
       background:none !important;
   }
   
   ul.level2,ul.level4{
       margin:0px !important;
   }
   
   ul.level2 li.first{
       border-top:1px dotted #006699
   }
   
   .group-title .menu-title{
       font-weight: normal;
       text-transform: none;
       font-size:100%;
   }
   
   .group-title{ 
       border:none !important;
   }
   
   /*.group-content ul.megamenu{
       margin-left:20px !important;
       margin-right:20px !important;
   }*/
   
   /*div.js-megamenu ul.level1 div.group-content li.mega a.mega{
       padding-left:30px !important;
   }*/
}